<div class="container-fluid">
  <div class="page-header">
    <h1>Create New Trip</h1>
    <% if @user.id == current_user.id %>
      <%= link_to 'Cancel', user_trips_path(@user) %>
    <% end %>
  </div>
</div>

<%= render partial: 'trip_form' %>
