<div class="container-fluid">
  <div class="page-header">
    <h1>Reset password</h1> 
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <%= bootstrap_form_tag url: '/resets' do |f| %>
      <%= f.email_field :email %>

      <%= f.submit "Reset Password", class:'btn btn-info' %>
    <% end %>
  </div>
</div>