// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*  html, body { 
  background: url('https://drscdn.500px.org/photo/108182811/m%3D2048/8c7ac956de655d723347b5b9bcd059ed') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  h1 {
    color: white
  }
  .jumbotron {
    color: white;
    background-color: none;
  }
*/